
/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #00A8A8;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  color: #222;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #00A8A8;
  padding: 20px 0;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav a {
  color: #fff;
  font-weight: 700;
}

#hero {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 100px 0;
}

#about, #skills, #projects, #contact {
  padding: 50px 0;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skill h3 {
  color: #00A8A8;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.project h3 a {
  color: #222;
  font-weight: 600;
}

.contact-btn {
  padding: 10px 20px;
  background-color: #00A8A8;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #008080;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
